[user]
	signingKey = ~/.ssh/keys.d/gdm257_sign_ed25519.pub
	email = gdm@disroot.org
	name = gdm257
[core]
	longpaths = true
	quotepath = false
	eol = lf
	autocrlf = input
	safecrlf = true
	editor = vim
	paper = delta
[commit]
	gpgsign = true
[interactive]
	diffFilter = delta --color-only --features=interactive
[i18n "commit"]
	encoding = utf-8
[gui]
	encoding = utf-8
[i18n]
	logoutputencoding = utf-8
[alias]
	st = status
	lo = log
	co = commit
	br = branch
	re = reset
	sw = switch
	ck = checkout
[init]
	defaultBranch = main
[diff]
	colorMoved = default
	algorithm = histogram
[safe]
	directory = *
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[delta]
	features = decorations
	side-by-side = true
	navigate = true
	line-number = true
[delta "interactive"]
	keep-plus-minus-markers = false
[delta "decorations"]
	commit-decoration-style = blue ol
	commit-style = raw
	file-style = omit
	hunk-header-decoration-style = blue box
	hunk-header-file-style = red
	hunk-header-line-number-style = #067a00
	hunk-header-style = file line-number syntax
[push]
	autosetupremote = true
[pull]
	ff = only
[merge]
	conflictstyle = zdiff3
[rerere]
	enabled = true
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers
[tag]
	gpgsign = true
[http]
	lowSpeedLimit = 1000
	lowSpeedTime = 60
	postBuffer = 524288000
[credential "https://dev.azure.com"]
	useHttpPath = true
[credential]
	helper = wincred
	helper = oauth
[credential "helperselector"]
	selected = oauth
