*.reg text eol=crlf working-tree-encoding=UTF-16LE-BOM
*.bat text eol=crlf
*.cmd text eol=crlf
*.sh text eol=lf
*.md text eol=lf
*.png binary
*.jpg binary
*.pdf binary
# SCM syntax highlighting & preventing 3-way merges
pixi.lock merge=binary linguist-language=YAML linguist-generated=true
