/apps/.version-fox
/apps/.x-cmd.root
!/apps/x-cmd.bat
/apps/scoop/apps
/apps/scoop/buckets
/apps/scoop/cache
/apps/scoop/modules
/apps/scoop/persist/*
!/apps/scoop/persist/doublecmd
/apps/scoop/persist/doublecmd/settings/plugins
/apps/scoop/persist/doublecmd/settings/history.xml
/apps/scoop/persist/doublecmd/settings/tabs.xml
#!/apps/scoop/persist/mpv.net-dw
!/apps/scoop/persist/mykeymap-beta
/apps/scoop/shims
/apps/scoop/workspace

/default/*

!/dotfiles
/dotfiles/.config/argocd
/dotfiles/.config/bin
/dotfiles/.config/scoop

/libraries/*

!/private

/pub-merge-recursive/AppData/Local/*
/pub-merge-recursive/AppData/LocalLow/*
/pub-merge-recursive/AppData/Roaming/*
!/pub-merge-recursive/AppData/Roaming/jj

/state/*
!/state/massCode

!/.*
!/*.*
!.gitignore
!.gitkeep
!.kopiaignore

*.log
# pixi environments
.pixi/*
!.pixi/config.toml
